header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 8fr;
}

.new-book-btn {
    height: 50%;
    place-self: center;
}

.library-grid {
    display: grid;
    grid-auto-flow: column;
    /* border: 1px solid blue; */
    gap: 20px;
}

.book-card {
    /* border: 1px solid green; */
}

.book-title {
    font-size: 1.5rem;
}

.book-author,
.book-pages,
.book-read,
.book-id { 
    font-size: 1rem;
    margin-top: 4px;
}